/*
========================================================================================
    Nextflow config file for running nf-test tests
========================================================================================
*/

// TODO nf-core: Specify any additional parameters here
// Or any resources requirements
params {
    modules_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/'
    pipelines_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/'
    perform_runmerging = true
    outdir = "test_output"
    publish_dir_mode = 'copy'
    run_diamond = false
}


aws.client.anonymous = true // fixes S3 access issues on self-hosted runners


process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]
    withName: HUMANN3 {
        publishDir = [
            path: { "${params.outdir}/humann3/" },
            mode: params.publish_dir_mode,
            pattern: '*.{tsv.gz,log,.command.*}'
        ]
	ext.args = "--bypass-nucleotide-search" // no reads proceed to translated search with some test data
    }
    withName: HUMANN4 {
        publishDir = [
            path: { "${params.outdir}/humann4/" },
            mode: params.publish_dir_mode,
            pattern: '*.{tsv.gz,log,.command.*}'
        ]
    }
}
