/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/funcprofiler -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name                    = 'Test profile'
    config_profile_description             = 'Minimal test dataset to check pipeline function'
     input                                  = params.pipelines_testdata_base_path + 'taxprofiler/samplesheet.csv'
    databases                              = params.pipelines_testdata_base_path + 'taxprofiler/database_v1.2.csv'

    input = "/Users/nwaters/GitHub/nf-core-funcprofiler/dontcommit/samplesheet_shortreadsonly.csv"
    databases = "/Users/nwaters/GitHub/test-datasets/database.csv"
    outdir = "tmp"
    run_fmhfunprofiler                     = true
    run_humann3                            = true
    perform_runmerging                     = True
    perform_shortread_qc                   = false
    perform_longread_qc                    = false
}
