/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/funcprofiler -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name                    = 'Test profile'
    config_profile_description             = 'Minimal test dataset to check pipeline function'

    // Input data
    // input                                  = params.pipelines_testdata_base_path + 'taxprofiler/samplesheet.csv'
    input                                  = params.pipelines_testdata_base_path + 'taxprofiler/samplesheet_shortreadsonly.csv'
    databases                              = params.pipelines_testdata_base_path + 'taxprofiler/database_v1.2.csv'
    run_fmhfunprofiler                     = true
    perform_runmerging                     = false
}
